---
interface Props {
    id: number;
    titulo: string;
    descripcion: string;
    imagenPerfil: string;
    perfil: string;
    imagenPost: string;
    idUsuario: number;
}

const { id, titulo, descripcion, imagenPerfil, perfil, imagenPost, idUsuario } =
    Astro.props;
---

<div
    class="flex flex-col p-4 gap-3 b-2 bg dark:bg-gray-800 bg-white shadow-lg border border-gray-200 dark:border-gray-600 rounded-lg mb-5 cursor-pointer"
>
    <div class="flex flex-col gap-3">
        {
            imagenPost && (
                <img
                    src={imagenPost}
                    alt="fotoPost"
                    class="w-[100%] rounded-3xl"
                />
            )
        }
        <div class="flex flex-row gap-4">
            <a href="/MirarPerfil">
                <img
                    src={imagenPerfil}
                    alt="fotoPerfil"
                    class="rounded-3xl w-20 h-20"
                />
            </a>
            <div class="flex flex-col gap-1">
                <h1 class="font-bold">{titulo}</h1>
                <span class="hover:underline"
                    ><a href="" id="Perfil">{perfil}</a></span
                >
                <p>{descripcion}</p>
                <a
                    href=`/MirarPublicacion/${id}`
                    class="text-gray-400 underline cursor-pointer"
                    >Mirar Publicacion</a
                >
            </div>
        </div>
    </div>
</div>
<script src="./../../scripts/js/IrPerfil.js"></script>
