---
import TarjetaSeguidores from '../../../components/Tarjetas/TarjetaSeguidores.astro';
import Layout from '../../../layouts/Layout.astro';
import type { Amigos } from '../../../models/Amigos';
import type { Usuario } from '../../../models/Usuario';
import { ObtenerDatosSeguidores,ObtenerDatosSeguidoresByID } from '../../../services/AmigosService';
import { ObtenerDatosUsuario } from '../../../services/UsuarioService';

export async function getStaticPaths() {
    const response = await fetch("http://localhost:3000/api/usuario", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        },
    });

    const data = await response.json();
    return data.map((usuario: Usuario) => ({
        params: { idSeguidores: usuario["id"] },
    }));
}

const {idSeguidores} = Astro.params
const Usuario: Usuario = await ObtenerDatosUsuario(idSeguidores)
let amigos: Amigos[] = await ObtenerDatosSeguidores(idSeguidores)
if(amigos.length === 0){
    amigos = await ObtenerDatosSeguidoresByID(idSeguidores)
}
---
<Layout title=`Seguidores-${Usuario.nombreUsuario}`>
    <main class="col-span-2 px-6 mt-20">
        {
            amigos.map((element: Amigos) => (
                <TarjetaSeguidores
                    nombre={element.usuario1.nombre}
                    url={element.usuario1.id.toString()}
                    imagenPerfil={element.usuario1.fotoPerfil}
                />
            ))
        }
    </main>
</Layout>