---
import Layout from "../layouts/Layout.astro";
import Publicacion from "../components/Tarjetas/Publicacion.astro";
import type { PublicacionModel } from "../models/Publicacion";

const response = await fetch("http://localhost:3000/api/Publicacion", {
	method: "GET",
	headers: {
		"Content-Type": "application/json",
	},
});
const data = await response.json();
const publicaciones: PublicacionModel[] = data;
for (let i = 0; i < publicaciones.length; i++) {
	const usuarioId = data[i]["usuario_id"];
	const response2 = await fetch(
		`http://localhost:3000/api/usuario/Filtrar/${usuarioId}`,
		{
			method: "GET",
			headers: {
				"Content-Type": "application/json",
			},
		},
	);

	const usuarioData = await response2.json();
	publicaciones[i].usuario = usuarioData[0];
}
---

<Layout title="ProConnect">
	<div class="col-span-2 p-6 mt-20">
		{
			publicaciones.map((publicacion) => (
				<Publicacion
					id={publicacion.usuario.id}
					imagenPost={publicacion.foto}
					imagenPerfil={publicacion.usuario.fotoPerfil || "/assets/ImagenesPerfil/predeterminado.png"}
					titulo={publicacion.titulo}
					perfil={publicacion.usuario.nombre}
					descripcion={publicacion.contenido}
				/>
			))
		}
	</div>
</Layout>
