---
import Publicacion from "../../components/Tarjetas/Publicacion.astro";
import Layout from "../../layouts/Layout.astro";
import type { Usuario } from "../../models/Usuario";
import { ObtenerDatosUsuario } from "../../services/UsuarioService";
import { ObtenerPublicacionesUsuario } from "../../services/PublicacionesService";
import { ObtenerSeguidores } from "../../services/AmigosService";
import type { PublicacionModel } from "../../models/Publicacion";

export async function getStaticPaths() {
    const response = await fetch("http://localhost:3000/api/usuario", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        },
    });

    const data = await response.json();
    return data.map((usuario: Usuario) => ({
        params: { id: usuario["id"] },
    }));
}

const { id } = Astro.params;

const Usuario: Usuario = await ObtenerDatosUsuario(id);
const dataSeguidores: 0 = await ObtenerSeguidores(id);
const Publicaciones: PublicacionModel[] = await ObtenerPublicacionesUsuario(Usuario);
---

<Layout title=`Perfil-${Usuario.nombreUsuario}`>
    <main class="col-span-2 px-6 mt-20">
        <section class="p-4 flex flex-row gap-4 items-center">
            <div>
                <img
                    src={Usuario.fotoPerfil ||
                        "/assets/ImagenesPerfil/predeterminado.png"}
                    alt=""
                    width="100"
                    height="100"
                    class="rounded-full"
                    id="FotoPerfil"
                />
            </div>
            <div class="flex flex-col gap-3">
                <h1 class="font-bold" id="nombre">
                    {Usuario.nombreUsuario}
                </h1>
                <span id="puesto">{Usuario.puesto}</span>
                <div class="flex flex-row gap-4">
                    <a href=`/MirarAmigos/Seguidores/${id}` class="flex"
                        ><p>{dataSeguidores} seguidores</p></a
                    >
                </div>
            </div>
        </section>
        <section class="m-3 p-3 rounded-3xl flex flex-col gap-4">
            <div class="flex flex-row gap-4">
                <button
                    class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-4xl cursor-pointer"
                    id="ConectarUsuario"
                >
                    Conectar +
                </button>
                <button
                    class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-4xl cursor-pointer"
                    id="Mensaje"
                    style="display: none;"
                >
                    Mensaje al Privado
                </button>
            </div>
        </section>
        <section>
            {
                Publicaciones.map((element: PublicacionModel) => (
                    <Publicacion
                        titulo={element.titulo}
                        descripcion={element.contenido}
                        imagenPerfil={
                            element.usuario.fotoPerfil ||
                            "/assets/ImagenesPerfil/predeterminado.png"
                        }
                        perfil={element.usuario.nombreUsuario}
                        imagenPost={element.foto}
                        idUsuario={element.usuario.id}
                    />
                ))
            }
        </section>
    </main>
</Layout>
<script src="./../../scripts/js/ConectarUsuario.js"></script>
